{% extends 'templates/layout_one.html' %}

{% block title%}EEIS{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>Ebkar Engineering & Industrial Systems</h1>
    <h2>Your Trusted Partner For Water Treatment Projects</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= What We Do Section ======= -->
  <section id="what-we-do" class="what-we-do">
    <div class="container">

      <div class="section-title">
        <h2>Products and Services</h2>
        <!-- <p>Magnam dolores commodi suscipit consequatur ex aliquid</p> -->
      </div>

      <div class="row">
        <!-- Wastewater Treatment Plant (Sewage and Industrial Solutions) Section -->
        <div class="col-lg-12  col-md-12 align-items-stretch">
          <div class="icon-box">
            <!-- <div class="image-box bg-image" style="background-image: url('/assets/etms_theme_one/lumia/img/Wastewater-Tretment-Facility.webp');"> -->
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Wastewater Treatment Plant (Sewage and Industrial Solutions).</a></h4>
              <br>
              <img class="" style="width: 70%;" src="assets/etms_theme_one/lumia/img/Wastewater-Tretment-Facility.webp" alt="">
            <!-- </div> -->
            <br>
            <br>
            <div style="text-align: left;">
              <h6>
                <strong>Industrial</strong> : We propose, design, manufacture and service the wastewater treatment
                plants for industries.

              </h6>
              <h6>

                By selecting a suitable technology, we guarantee a stable and economical process of treatment of various
                types of waste water according to the nature of the industrial production.
              </h6>
              <br>
              <h6>
                <strong>Sewage</strong>: We are specialised in design, engineering, supply, installation & commissioning of sewage
                Treatment plants (STP) based on various technologies
                We offer you the latest and most appropriate technology available in treating sewage and waste water,
                whether for compliance with local regulations or for reuse.
                Every Sewage treatment plant is designed to suit our client's specific needs. We are able to offer
                varying degrees of treatment, depending upon operational requirements.
              </h6>

              <h6>
                Containerized Solutions To Treat Water
                Ebkar Co. offers containerized wastewater treatment plants for easy setup and relocation. This solution
                is
                ideal for remote locations such as mining camps and oil rig sites.
              </h6>
              <br>
              <h6 class="text-justify">
                We offer a variety of capacities that can meet your requirements.
              </h6>
              <h6>
                Handy containerized wastewater treatment plant
                As the pre-assembled containerized wastewater treatment plant is located inside a standard 20 or 40 foot
                shipping container,
                it can be relocated and installed with ease at other locations. In most cases it is a one to two-day
                operation and requires only a flatbed truck and a crane.
              </h6>

              <h6>
                The advantages of using containerized wastewater treatment plants are:
              </h6>
              <h6>
                The systems are fully transportable and can easily be relocated and reinstalled at new sites.
                The site installation can be completed within one day with “plug & Play” systems.
                Supplied in different versions of integration of cleaning steps, transportability and capacity.

              </h6>

            </div>
            <br>
            <h5>We also supply large and custom built Sewage treatment plants and the following equipment as per the
              requirement:</h5>
            <br>
            <div class="row">

              <div class="col-6">
                <p>SUBMERSIBLE SEWAGE PUMPS</p>
                <p>COMMINUTORS AND MACERATORS</p>
                <p>GRIT SEPARATORS</p>
                <p>MECHANICAL SCREEN</p>
                <p>PRIMARY AND SECONDARY CLARIFIERS</p>
                <p>SLUDGE THICKENERS</p>
                <p>AIR DIFFUSERS</p>
                <p>SURFACE AERATORS</p>
                <p>ROTOR AERATORS (OXIDATION DITCH)</p>
                <p>GLASS LINED STEEL TANKS</p>
              </div>
              <div class="col-6">
                <p>AIR BLOWERS</p>
                <p>SLUDGE PUMPS</p>
                <p>SLUDGE DEWATERING</p>
                <p>ROTATING BIOLOGICAL CONTACTORS</p>
                <p>TERTIARY PRESSURE SAND FILTERS</p>
                <p>GAS CHLORINATORS</p>
                <p>HYPO-CHLORINATORS</p>
                <p>DRY PELLET CHLORINATION</p>
                <p>PRESSURE SYSTEM</p>
                <p>FLOCCULATORS</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Water Desalination Plant Section -->
        <div class="col-lg-12 col-md-12 align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Water Desalination Plant</a></h4>
            <img style="width: 70%;" src="assets/etms_theme_one/lumia/img/Reverse-Osmosis-Water-Treatment-System-1.jpg" alt="">
            <br>
            <br>
            <div style="text-align: left;">
              <h6>Our Range of Reverse Osmosis Systems which range from brackish to seawater (Commercial & Industrial)
                includes:
              </h6>
              <br>
              <div class="row">
                <div class="col-12">
                  <p>- Industrial RO Systems</p>
                  <p>- Commercial RO Systems</p>
                  <p>- Containerized RO Plants</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Water Storage Tanks Section -->
        <div class="col-lg-12 col-md-12 align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Water Storage Tanks</a></h4>
            <img style="width: 70%;" src="assets/etms_theme_one/lumia/img/Water-Storage-Tanks.jpg" alt="">
            <br>
            <br>
            <div style="text-align: left;">
              <h6>
                Our extensive range of water storage tanks includes concrete water tanks, above and underground water
                tanks, GRP water storage tanks, open top water tanks, food grade water tanks and coated steel tanks. We
                also supply potable (suitable for drinking water) tanks and non-potable water tanks.
              </h6>
              <br>
              <h6>
                All our tanks are manufactured from high-quality durable materials and vary rang of capacities ranging
                from 4 litres to 1,000,000 litres. This makes them suitable for a wide variety of purposes and
                situations such as rainwater harvesting, car valeting, window cleaning, wastewater treatment, chemical
                manufacturing, fire suppression, and agricultural, commercial, domestic and industrial water storage.
              </h6>
            </div>
          </div>
        </div>
        <!-- Pumping Systems Section -->
        <div class="col-lg-12 col-md-12 align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Pumping Systems</a></h4>
            <img style="width: 70%;" src="assets/etms_theme_one/lumia/img/pumpstation.jpg" alt="">
            <br>
            <br>
            <div style="text-align: left;">
              <h6>EEIS offers a complete range of pumps for water treatment, wastewater treatment, water pump stations,
                water wells and fire fighting systems such as booster pumps, centrifugal pumps, sewage pumps, sump
                pumps, metering mumps, chemical dosing pumps and all its Accessories.
              </h6>
              <br>
              <h6>
                Our pumps are used for various applications such as pressure boosting, ultrapure water systems,
                deionized systems, distribution systems, pre-filter charge systems, condensation systems, car wash,
                cooling towers, sprinkler and irrigation, parts washers, poultry / beverage processing, water
                reclamation, jocky pump, liquid transfer, heat exchangers, pharmaceutical services, spray systems,
                scrubbers, general pump applications and etc.
              </h6>
              <br>
              <div class="row">
                <div class="col-12">
                  <p>- Booster Pumps</p>
                  <p>- Centrifugal Pumps</p>
                  <p>- Sewage Pumps</p>
                  <p>- Submersible Pumps</p>
                  <p>- Metering Pumps</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Spare Parts and Consumables Section -->
        <div class="col-lg-12 col-md-12 align-items-stretch mt-1 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Spare Parts and Consumables</a></h4>
            <img style="width: 70%;" src="assets/etms_theme_one/lumia/img/spare parts.png" alt="">
            <br>
            <br>
            <div style="text-align: left;">
              <h6>
                We supply all spare parts and consumables for Reverse Osmosis and Wastewater treatment
                equipment. Here is a brief list of spare parts and consumable :
              </h6>
              <br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">APPLICATION</th>
                    <th scope="col">SPARE PARTS & CONSUMABLES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CARTRIDGE FILTERS</td>
                    <td>Ranging from 0.2 to 20 micron. Size 10" to 40" long</td>
                  </tr>
                  <tr>
                    <td>CHEMICALS</td>
                    <td>Anti-Scalant , Chemicals For Reverse Osmosis System, Pre treatment, Post Treatment, Potable
                      Water Treatment Systems, Chilled Water System, Boilers, Sewage & Wastewater Treatment Systems</td>
                  </tr>
                  <tr>
                    <td>DEIONIZERS</td>
                    <td>Resin Media, Automatic Control Valves, Chemicals and Spares</td>
                  </tr>
                  <tr>
                    <td>PUMPS</td>
                    <td>Impeller, Diffuser, Shaft, Bearing, Motor, O-rings, Mechanical seal, Pump Housing and all other parts.</td>
                  </tr>
                  <tr>
                    <td>REVERSE OSMOSIS SYSTEMS</td>
                    <td>Complete range of spares and consumable such as Membranes, Cartridge Filters, Chemical Feeders, Solution Tanks, Pressure Gauges, Flow Meters, High Pressure Pipes, Low Pressure Pipes, Solenoid Valves, Reject Valves, Automatic Flushing Valves, Membranes, High Pressure Pumps, Pressure Tanks and etc.</td>
                  </tr>
                  <tr>
                    <td>SEWAGE & WASTEWATER</td>
                    <td>Submersible Sewage Pumps, Comminutors And Macerators, Grit Separators, Mechanical Screen, Primary And Secondary Clarifiers, Sludge Thickeners, Air Diffusers, Surface Aerators, Rotor Aerators (Oxidation Ditch), Air Blowers, Sludge Pumps, Sludge Dewatering, Rotating Biological, Contactors, Tertiary Pressure Sand Filters, Gas Chlorinators, Hypo Chlorinators, Dry Pellet Chlorination, Pressure System and Spares</td>
                  </tr>
                  <tr>
                    <td>SOFTENERS</td>
                    <td>Resin Media, Automatic Control Valves and Spares</td>
                  </tr>
                  <tr>
                    <td>ULTRAVIOLET (UV) SYSTEMS</td>
                    <td>Replacement Lamps, Sleeves, Ballast and UV Monitors</td>
                  </tr>
                  <tr>
                    <td>WATER TESTING INSTRUMENTS</td>
                    <td>All Types of TDS Meters, pH Meters, Conductivity Meters, Chlorine Monitors and Swimming Pool Water Testing Kits</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Operation and Maintenance Services Section -->
        <div class="col-lg-12 col-md-12 align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Operation and Maintenance Services</a></h4>
            <img style="width: 70%;" src="assets/etms_theme_one/lumia/img/istockphoto-521622931-612x612.jpg" alt="">
            <br>
            <br>
            <div style="text-align: left;">
              <h6>
                EEIS offers a full service package that guarantees maximum operational safety while at the same time committing to excellence. The company's workforce ensures its customers are fully satisfied with its full service concept.
              </h6>
              <br>
              <br>
              <div class="row">
                <div class="col-12">
                  <strong>
                    Our traditional services:
                  </strong>
                  <p>- Operation Management</p>
                  <p>- Maintenance</p>
                  <p>- Refurbishments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End What We Do Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="assets/etms_theme_one/lumia/img/water-factory.webp" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>About Us</h3>
          <br>
          <h6>
            Ebkar Co. primarily focusing on water technologies and turnkey water & wastewater solutions that include:
          </h6>
          <div style="margin-left: 13px;">
            <p style="margin-bottom: 2px;">- Wastewater Treatment Plant (Sewage, Industrial and Packaged Solutions).</p>
            <p style="margin-bottom: 2px;">- Water Desalination Plant.</p>
            <p style="margin-bottom: 2px;">- Water Storage Tanks.</p>
            <p style="margin-bottom: 2px;">- Pumping Systems.</p>
            <p style="margin-bottom: 2px;">- Spare Parts and Consumables</p>
            <p style="margin-bottom: 2px;">- Operation and Maintenance Services.</p>
          </div>
          <br>
          <br>
          <div>
            <h6>
              We offer our customers a very broad field of services ranging from those that require a high degree of
              professional and technical expertise to those that require hard, labor-intensive work.

              Our strongest commitments are to safety, our employees and our customers. Ebkar Co. is well recognized by
              its commitment to providing quality service and working closely with its customers. An extensive ability
              with proven experience for the aforesaid disciplines this qualifies Ebkar Co as a dependable
              partner-in-success.
              Ebkar Company has grown steadily depending on consistency, expertise, professionalism, quality service and
              customer support. Controlled growth is an important aspect of Ebkar's corporate philosophy, allowing the
              Company to maintain continuity and highest level of customer service.
              Our Goal: is our client satisfaction and providing our clients with high quality services / products with
              cost effectiveness.
              Our Focus: To accomplish our goal we are focused on recruiting, maintaining and motivating a highly
              competent, professional staff which is dedicated to the goals and principles of Ebkar Co.

              The management together with the employees of Ebkar Co. is fully committed to deliver quality services and
              processes to promote an image of safety and reliability.

            </h6>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Section -->




  {% if False %}
  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container">

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">PHP <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">WordPress/CMS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
  <!-- End Skills Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">Dolor Sitema</a></h4>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad
              limino ata</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bi bi-binoculars"></i>
            <h4><a href="#">Nemo Enim</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bi bi-brightness-high"></i>
            <h4><a href="#">Magni Dolore</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
              atque</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <i class="bi bi-calendar4-week"></i>
            <h4><a href="#">Eiusmod Tempor</a></h4>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
              eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit</p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                class="link-preview portfolio-lightbox" title="Preview"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">App 1</a></h4>
              <p>App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-2.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 3</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-3.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">App 2</a></h4>
              <p>App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-4.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Card 2</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-5.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 2</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-6.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">App 3</a></h4>
              <p>App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-7.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Card 1</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-8.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Card 3</a></h4>
              <p>Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/etms_theme_one/lumia/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <a href="assets/etms_theme_one/lumia/img/portfolio/portfolio-9.jpg"
                class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i
                  class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Web 1</a></h4>
              <p>Web</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/etms_theme_one/lumia/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/etms_theme_one/lumia/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/etms_theme_one/lumia/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/etms_theme_one/lumia/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/etms_theme_one/lumia/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        <p>Sit sint consectetur velit quos quisquam cupiditate nemo qui</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/etms_theme_one/lumia/img/team/team-1.jpg" alt="">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut
              aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/etms_theme_one/lumia/img/team/team-2.jpg" alt="">
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <p>
              Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/etms_theme_one/lumia/img/team/team-3.jpg" alt="">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->
  {% endif %}

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contact Us</h2>
        <p>Please do not hesitate to contact us for any further information</p>
      </div>

      <div class="row mt-5 justify-content-center">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p><strong>El Sheikh St / Anofleen Area</strong> <br> <strong>Tripoli - Libya</strong></p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>
                  For RFQ: <strong>sales@ebkarco.ly</strong>
                </p>
                <p>
                  For General Queries: <strong>info@ebkarco.ly</strong>
                </p>
                <p>
                  For Job Applicants: <strong>jobs@ebkarco.ly</strong>
                </p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>Tel: <strong>00218-21-3403615</strong></p>
                <p>Fax: <strong>00218-21-3403655</strong></p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <!-- disable contact form -->
      <!-- <div class="row mt-5 justify-content-center">
            <div class="col-lg-10">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>

          </div> -->

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% include "templates/includes/footer.html"%}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/etms_theme_one/lumia/vendor/purecounter/purecounter.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/etms_theme_one/lumia/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/etms_theme_one/lumia/js/main.js"></script>

{% endblock %}